<div class="contain">
    <div class="card_select_product">



        <div class="photo">
            <img src="{{photo}}" alt="">
        </div>


        <div class="titulo">
            <div class="produto">
                <p>{{produto}}</p>
            </div>
            <div class="left">
                <p class="p1">{{quantidade}}x </p>
                <p class="p2">&#64;${{precoUnitario | number: '1.2-2'}}</p>
            </div>
        </div>

        <div class="quantidade">
            <div class="text_p">
                <div class="right">
                    <p class="p3"> ${{precoTotal| number: '1.2-2' }}</p>
                </div>
            </div>

        </div>

    </div>
    <hr>
</div>