<div class="cards_left">

    <div class="Text">
        <h1>Dessesrts</h1>
    </div>


    <div class="list_mini_cards">

        <div class="line1">
            <app-mini-card 
            [photo]="'./assets/images/image-waffle-desktop.jpg'"
            [tipes]="'Waffle'"
            [product]="'Waffle with Berries'"
            [price]="6.50" 
            ></app-mini-card>
            <app-mini-card 
            [photo]="'./assets/images/image-creme-brulee-desktop.jpg'"
            [tipes]="'Crème Brûlée'"
            [product]="'Vanilla Bean Crème Brûlée'"
            [price]="7.00" 
            ></app-mini-card>
            <app-mini-card 
            [photo]="'./assets/images/image-macaron-desktop.jpg'"
            [tipes]="'Macaron'"
            [product]="'Macaron Mix of Five'"
            [price]="8.00" 
            ></app-mini-card>
        </div>
        <div class="line2">
            <app-mini-card 
            [photo]="'./assets/images/image-tiramisu-desktop.jpg'"
            [tipes]="'Tiramisu'"
            [product]="'Classic Tiramisu'"
            [price]="5.50" 
            ></app-mini-card>
            <app-mini-card 
            [photo]="'./assets/images/image-baklava-desktop.jpg'"
            [tipes]="'Baklava'"
            [product]="'Pistachio Baklava'"
            [price]="4.00" 
            ></app-mini-card>
            <app-mini-card 

            [photo]="'./assets/images/image-meringue-desktop.jpg'"
            [tipes]="'Pie'"
            [product]="'Lemon Meringue Pie'"
            [price]="5.00 " 
            ></app-mini-card>
        </div>
        <div class="line3">
            <app-mini-card 
            [photo]="'./assets/images/image-cake-desktop.jpg'"
            [tipes]="'Cake'"
            [product]="'Red Velvet Cake'"
            [price]="4.50" 
            ></app-mini-card>
            <app-mini-card 
            [photo]="'./assets/images/image-brownie-desktop.jpg'"
            [tipes]="'Brownie'"
            [product]="'Salted Caramel Brownie'"
            [price]="4.50" 
            ></app-mini-card>
            <app-mini-card 
            [photo]="'./assets/images/image-panna-cotta-desktop.jpg'"
            [tipes]="'Panna Cotta'"
            [product]="'Vanilla Panna Cotta'"
            [price]="6.50" 
            ></app-mini-card>
        </div>
    </div>

</div>